/* Global styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh; /* Set the height of the body to 100% of the viewport */
}

/* Mat-toolbar styles */
mat-toolbar {
  background-color: #1976D2; /* Blue color */
  color: white; /* Text color */
}

mat-toolbar-row {
  display: flex;
  align-items: center;
}

button[mat-icon-button] {
  color: white; /* Icon color */
}

/* Mat-sidenav styles */
mat-sidenav-container {
  height: 100vh; /* Set the height of the container to 100% of the viewport */
}

mat-sidenav {
  background-color: #1565C0; /* Blue color */
  color: white; /* Text color */
}

mat-nav-list a {
  color: white; /* Link text color */
}

mat-sidenav-content {
  padding: 16px;
  height: 100%; /* Set the height of the content to 100% of the container */
  box-sizing: border-box; /* Include padding and border in the height calculation */
}

/* Additional styling for the content inside mat-sidenav-content */
router-outlet {
  display: block;
  margin-top: 20px;
}

/* Hover effect for mat-nav-list items */
mat-nav-list a:hover {
  background-color: #0D47A1; /* Darker shade on hover */
}


