body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0; /* Reset default body margin */
}

h1, h2 {
  color: #3498db;
}

.export-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end; /* Align to the right */
}

.find-vehicle-form {
  margin-top: 20px;
}

.find-vehicle-form label {
  display: block;
  margin-top: 10px;
  color: #3498db;
}

.find-vehicle-form input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #3498db;
  border-radius: 4px;
}

.find-vehicle-form button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.find-vehicle-form button:hover {
  background-color: #297fb8;
}

.filter-form {
  margin-top: 20px;
}

.filter-options {
  display: flex;
  flex-direction: row;
}

.filter-options label {
  margin-bottom: 10px;
}

.filter-inputs label {
  display: block;
  margin-top: 10px;
  color: #3498db;
}

.filter-inputs input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #3498db;
  border-radius: 4px;
}

.filter-inputs button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.filter-inputs button:hover {
  background-color: #297fb8;
}

.search-result-table {
  background-color: #e74c3c;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-result-table h2 {
  color: #fff;
}

.search-result-table table {
  width: 100%;
}

.search-result-table th, .search-result-table td {
  padding: 12px;
  text-align: left;
  color: #fff;
}

.search-result-table th {
  background-color: #c0392b;
}

.report-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.report-list h2 {
  color: #3498db;
}

.report-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.report-list th, .report-list td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.report-list th {
  background-color: #3498db;
  color: #fff;
}

.isReportAdded, .isReportDeleted {
  color: #2ecc71;
}

.NoReportFound {
  color: #e74c3c;
}

.update-form {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-form h2 {
  color: #3498db;
}

.update-report-form label {
  display: block;
  margin-top: 10px;
  color: #3498db;
}

.update-report-form input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #3498db;
  border-radius: 4px;
}

.update-report-form button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.update-report-form button:hover {
  background-color: #297fb8;
}

.add-vehicle-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.add-vehicle-button button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-vehicle-button button:hover {
  background-color: #297fb8;
}
