/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
}

.mat-tab-group {
  margin-top: 20px;
}

/* Report List */
.report-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}

.report-list button,
.update-report-form button[type="submit"],
.find-report-form button,
.add-report-form button[type="submit"] {
  background-color: lightblue;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

/* Update Report Form */
.update-report-form label,
.update-report-form input[type="text"] {
  width: 300px;
  padding: 5px;
}

/* Find Report Form */
.find-report-form input[type="text"],
.find-report-form button {
  width: 300px;
  padding: 5px;
  margin-top: 10px;
}

/* Add Report Form */
.add-report-form label,
.add-report-form input[type="text"] {
  width: 300px;
  padding: 5px;
}

.add-report-form button[type="submit"] {
  margin-top: 10px;
}


